.register_biggi{
    width: 100vw;
    height: 100vh;
}
.signup_container{
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    /* border:2px solid black; */
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #dbdbdb2a;
    /* background-color: #071426; */
    /* color: white; */
    /* border: 2px solid #BC4123; */
    /* box-shadow: 10; */
    
    /* box-sizing: border-box; */
}
.signup{
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 10px 50px;
    /* transform:translate(40px,20px); */
    border-radius: 10px;
}
.signup_header{
    text-align: center;
    letter-spacing: normal;
    padding: 0;
    color: black;
    
}
.signup_details{
  text-align: center;
}
.designation{
    padding: 5px;
    border-radius: 15px;
    margin:  2vh 0vh;
    width: 70%;
    border: 0.1px solid black;
    font-weight: 20;
    font-size: small;
    /* background-color: #071426;
    color: white;
    border-color:  #BC4123; */
    /* border-color:  black; */
}

#desc{
    width: 100%;
}

#button{
    width: 70%;
    background-color: white;
    border-radius: 15px;
    color: black;
    padding:7px ;
    margin: 5px 0;
    border: 0.2px solid black;
    /* background-color: #071426;
    color: white;
    border: 0.1px solid #BC4123; */
}

#button:hover{
    transition: 0.6s;
    background-color: #20BDFF;
    color: white;
    opacity: 0.5;
}
.sucess{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}