.biggi{
    width: 100vw;
    height: 100vh;
}
.SignIn_container{
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    /* border:2px solid black; */
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    background-color: #dbdbdb2a;
    /* background-color: #071426; */
    /* border: 2px solid #BC4123; */
    /* box-shadow: 10; */
    /* transform:translate(20px,30px); */
    /* box-sizing: border-box; */
}
.SignIn{
    /* box-shadow: 1.5px 0.5px 1px 3px rgb(209, 205, 205) inset; */
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    /* transform: translate(40%,30%); */
    padding: 10px 50px;
    /* border: 0.05px solid  black; */
    border-radius: 10px;
}
.SignIn_header{
    text-align: center;
    letter-spacing: normal;
    padding: 0;
    color: black;
    
}
.designation{
    padding: 5px;
    border-radius: 15px;
    margin:  2vh 0vh;
    width: 100%;
    font-weight: 20;
    font-size: small;
    /* background-color: #071426; */
    /* color: white; */
    /* border-color:  #BC4123; */
    border: 0.2px solid black;
    /* border-color:  black; */
}
#desc{
    width: 100%;
}
#a{
   text-decoration: none; 
   color: black;
   border: none;
}
#a:hover{
    color:#20BDFF ;
}
.SignIn_details{
    text-align: center;
}