
.Feedback_container{
    padding: 15px;
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    /* border:2px solid black; */
    max-width: 100%;
    background-color: #dbdbdb2a;
    /* background-color: #071426;
    border: 2px solid #BC4123; */
    position: absolute;
    /* box-shadow: 10; */
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    /* box-sizing: border-box; */
}

.Feedback_header{
    text-align: center;
    letter-spacing: normal;
    padding: 0;
    color: black;
    
}
#logo{
    width: 20px;
    height: 20px;
}
#desc{
    width: 100%;
}
.contact{
    /* color: white; */
    color: black;
}

.contact_page{
display: flex;
}