/* color decided #F2F2F2 60 #dbdbdb41 30 #20BDFF 10 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

.my_profile{
    margin: 40px;
    
    /* border: 1px solid red; */
    background: #fffdfd91 ;
    border-radius: 12px;
    box-shadow: 0 0 3px 2px #8888885d;
    padding : 40px;
}

.my_profile_image{
   text-align: center;
    margin-bottom: 30px;
    
}
.my_profile_image img{
    width: 200px;
    height: 200px;
    /* object-fit: cover; */
    border-radius: 50%;
    filter: grayscale(1);
    margin: 20px;
    border: 3px solid rgba(214, 208, 208, 0.596);
}
.ProfileContent{
    text-align: center;
    /* border: 1px solid springgreen; */
}
.ProfileContent p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin: 9px;
}
.ProfileContent h5{
    margin: 9px;
}


/* bookpublication ka drama */

.publication_image img{
    width: 150px;
    height: 150px;
    border: 3px solid rgba(155, 147, 147, 0.596);
}
.Publlicatons{
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.publication{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 60rem;
    background: #fffdfd91;
    box-shadow: 0 0 3px 2px #8888885d;
    padding: 20px 30px;
    
}
.publication:hover{
    transition: 1s;
    box-shadow: 0 0 3px 2px #20bcffb0;
    cursor: alias;

    
}
.publication:hover .Curd_buttons h2{
    color: #20BDFF;
}
.publication_image{
    margin: 0 30px;
}


/* curd-button */

.Curd_buttons{
    margin: 0 30px;
   
}
.Curd_buttons button{
    padding: 10px;
    margin: 0 8px;
    border: none;
    border-radius: 20px;
    min-width: 80px;
    /* margin-left: 30%; */
    
    
}
.Curd_buttons button:hover{
    background-color: #20bcffb0 ;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}


.my_profile button{
        padding: 10px;
        margin: 0 8px;
        border: none;
        border-radius: 20px;
        min-width: 100px;
        
}
.my_profile button:hover{
    background-color: #20bcffb0 ;
    color: white;
    transition: 0.5s;
    
}


