
.Feedback_container{
    display: flex;
    /* width: fit-content; */
    justify-content: center;
    /* border:2px solid black; */
    max-width: 100%;
    background-color: #dbdbdb2a;
    /* background-color: #071426;
    border: 2px solid #BC4123; */
    position: absolute;
    /* box-shadow: 10; */
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    /* box-sizing: border-box; */
}
.Feedback{
    /* box-shadow: 1.5px 0.5px 1px 3px rgb(209, 205, 205) inset; */
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    /* transform: translate(40%,30%); */
    padding: 30px;
    /* border: 0.05px solid  black; */
    border-radius: 10px;

}
.Feedback_header{
    text-align: center;
    letter-spacing: normal;
    padding: 0;
    color: black;
    
}
.designation{
    padding: 5px;
    border-radius: 15px;
    margin:  2vh 0vh;
    width: 100%;
    border: 0.1px solid black;
    font-weight: 20;
    font-size: small;
    /* border:0.1px solid #BC4123 */
    /* border-color:  black; */
}
#desc{
    width: 100%;
}
.a{
   text-decoration: none; 
   color: #174dc2;
}
.tex{
    /* height: 40px; */
    resize: none;
    border-color: solid black;
    /* border: 2px ; */
}
