
.biggi{
    width: 100vw;
    height: 100vh;
}
.Feedback{
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 51px !important;
    border-radius: 10px;

}
.Feedback_header{
    text-align: center;
    letter-spacing: normal;
    padding: 0;
    color: black;
    
}
.designation{
    padding: 5px;
    border-radius: 15px;
    margin:  2vh 0vh;
    width: 100%;
    border: 0.1px solid black;
    font-weight: 20;
    font-size: small;
}
#desc{
    width: 100%;
}
.a{
   text-decoration: none; 
   color: #174dc2;
}
.tex{
    resize: none;
    border-color: solid black;
}


.button_submitfeed{
    width: 70%;
    background-color: white;
    border-radius: 15px;
    color: black;
    padding:7px ;
    margin: 5px 0;
    margin-left: 2.5rem !important;
    border: 0.2px solid black;
}
.button_submitfeed:hover{
    transition: 0.6s;
    background-color: #20BDFF;
    color: white;
    opacity: 0.5;
}
.feedback_page{
    display: flex;

}