/* color decided #F2F2F2 60 #dbdbdb41 30 #20BDFF 10 */

.FacultyItemView{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    border: 1px solid #20BDFF;
    margin-left: 50px;
    border-radius: 8px;
    background: #dbdbdb25;
}
.FacultyItemView:hover{
    transition: 0.6s;
    box-shadow: 0 0  2px 1px  #20BDFF;
}
.Facultyimage img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
}
.FacultyDetails{
    margin-left: 10px;
}