body {
  margin: 0;
   font-family: Roboto, Helvetica, Arial, sans-serif;
  /* background-color: #F2F2F2; */
  background-color: #071426;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
